root = true

* General settings
[*]
encoding = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

* YAML and YML files
[*.{yaml,yml}]
indent_size = 2